@model List<projekt.Models.Zugskompositionen>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../Content/style.css">
<script src="https://kit.fontawesome.com/7bdc781c6b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/JavaScript.js"></script>

@{
    ViewBag.Title = "Zugskompositionen";
}

<div class="titel">
    <h1>@ViewBag.Title</h1>
</div>

<div class="add-data">
    <button class="add-button openAddModalButton" id="addButton">
        <i class="fa-regular fa-plus"></i>
    </button>
</div>

<div class="mode">
    <button class="add-button" id="modeButton">
        <i class="fa-solid fa-sun"></i>
    </button>
</div>

<div class="row">
    <table class="table">
        <tr class="table-head">
            <th>Benutzer</th>
            <th>Zugname</th>
            <th>Anzahl Rollmaterialien</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.rollmaterial.Count</td>
                <td class="d-flex">
                    <button class="icon-button openEditModalButton"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button class="icon-button openReserveModalButton"><i class="fa-regular fa-bookmark"></i></button>
                    <button class="icon-button openDeleteModalButton"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        }
    </table>
</div>

<!-- Edit Content Modal -->
<div class="modal fade" id="editContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition bearbeiten/ Details</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr class="table-head">
                        <th>Bezeichnung</th>
                        <th>Farbe</th>
                        <th>Im Besitz</th>
                        <th>Hersteller</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Bezeichung</td>
                            <td>@item.Farbe</td>
                            <td>@item.ImBesitz</td>
                            <td>@item.Hersteller</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Speichern</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Content Modal -->
<div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition hinzufügen</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="type" class="input-text" type="text" placeholder="Typ" />

                    <input id="imBesitz" class="input-text" type="text" placeholder="Im Besitz" />

                    <input id="kaufpreis" class="input-text" type="text" placeholder="Kaufpreis" />

                    <input id="verkaeufer" class="input-text" type="text" placeholder="Verkäufer" />

                    <input id="schaetzpreis" class="input-text" type="text" placeholder="Schätzpreis" />
                </div>

                <div class="form-group">
                    <input id="hersteller" class="input-text" type="text" placeholder="Hersteller" />

                    <input id="artnr" class="input-text" type="text" placeholder="ArtNr" />

                    <input id="setnr" class="input-text" type="text" placeholder="SetNr" />

                    <input id="bezeichnung" class="input-text" type="text" placeholder="Bezeichnung" />

                    <input id="bemerkung" class="input-text" type="text" placeholder="Bemerkung" />
                </div>
                <div class="form-group">
                    <input id="farbe" class="input-text" type="text" placeholder="Farbe" />

                    <input id="bahngesellschaft" class="input-text" type="text" placeholder="Bahngesellschaft" />

                    <input id="loktyp" class="input-text" type="text" placeholder="Loktyp" />

                    <input id="loknummer" class="input-text" type="text" placeholder="Loknummer" />

                    <input id="veroeffentlichung" class="input-text" type="text" placeholder="Veröffentlichung" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Content Modal -->
<div class="modal fade" id="deleteContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition löschen</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Diesen Datensatz löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-modal-button" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-secondary submit-modal-button deleteItem" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Reserve Content Modal -->
<div class="modal fade" id="reserveContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition reservieren</h2>
                <p>Name der Zugskomposition</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body datepicker">
                <div>
                    <p>Datum Von:</p>
                    <input type="date" value="2022-12-22" />
                </div>
                <div>
                    <p>Datum Bis:</p>
                    <input type="date" value="2022-12-22" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Reservieren</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.openEditModalButton').click(function () {
            $('#editContentModal').modal('show');
        });

        $('.openAddModalButton').click(function () {
            $('#addContentModal').modal('show');
        });

        $('.openReserveModalButton').click(function () {
            $('#reserveContentModal').modal('show');
        });

        $('.openDeleteModalButton').click(function () {
            Id = $(this).data('id');
            $('#deleteContentModal').modal('show');
        });

        $('.deleteItem').click(function () {
            document.getElementById(Id).setAttribute('hidden', "");
        });
    });
 
</script>