@model List<projekt.Models.Rollmaterial>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../Content/style.css">
<script src="https://kit.fontawesome.com/7bdc781c6b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/JavaScript.js"></script>



<div class="titel">
    <h1>Alle Rollmaterialien</h1>
</div>

<div class="add-data">
    <button class="add-button openAddModalButton" id="addButton">
        <i class="fa-regular fa-plus"></i>
    </button>
</div>

<div class="mode">
    <button class="add-button" id="modeButton">
        <i class="fa-solid fa-sun"></i>
    </button>
</div>

<table class="table" id="table">
    <tr>
        <th>Bezeichnung</th>
        <th>Farbe</th>
        <th>Im Besitz</th>
        <th>Hersteller</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.id">
            <td id="bezeichungOutput @item.id">@item.Bezeichung</td>
            <td id="farbeOutput @item.id">@item.Farbe</td>
            <td id="imBesitzOutput @item.id">@item.ImBesitz</td>
            <td id="herstellerOutput @item.id">@item.Hersteller</td>
            <td>
                <button class="icon-button openModalButton" data-id="@item.id"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="icon-button openDeleteModalButton" data-id="@item.id"><i class="fa-solid fa-trash-can"></i></button>
            </td>
            <td hidden id="typeOutput @item.id">@item.Type</td>
            <td hidden id="kaufpreisOutput @item.id">@item.Kaufpreis</td>
            <td hidden id="verkaeuferOutput @item.id">@item.Verkaeufer</td>
            <td hidden id="schaetzpreisOutput @item.id">@item.Schaetzpreis</td>
            <td hidden id="loknummerOutput @item.id">@item.Loknummer</td>
            <td hidden id="artNrOutput @item.id">@item.ArtNr</td>
            <td hidden id="setNrOutput @item.id">@item.SetNr</td>
            <td hidden id="bemerkungOutput @item.id">@item.Bemerkung</td>
            <td hidden id="bahngesellschaftOutput @item.id">@item.Bahngesellschaft</td>
            <td hidden id="loktypOutput @item.id">@item.Loktyp</td>
            <td hidden id="veroeffentlichungOutput @item.id">@item.Veroeffentlichung</td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition bearbeiten/ Details</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formAddRollmaterial">
                <div class="modal-body">
                    <div class="form-group">
                        <input id="typeEdit" class="input-text" type="text" placeholder="Typ" required/>

                        <input id="imBesitzEdit" class="input-text" type="text" placeholder="Im Besitz" />

                        <input id="kaufpreisEdit" class="input-text" type="text" placeholder="Kaufpreis" />

                        <input id="verkaeuferEdit" class="input-text" type="text" placeholder="Verkäufer" />

                        <input id="schaetzpreisEdit" class="input-text" type="text" placeholder="Schätzpreis" />
                    </div>

                    <div class="form-group">
                        <input id="herstellerEdit" class="input-text" type="text" placeholder="Hersteller" required/>

                        <input id="artnrEdit" class="input-text" type="text" placeholder="ArtNr" />

                        <input id="setnrEdit" class="input-text" type="text" placeholder="SetNr" />

                        <input id="bezeichnungEdit" class="input-text" type="text" placeholder="Bezeichnung" />

                        <input id="bemerkungEdit" class="input-text" type="text" placeholder="Bemerkung" />
                    </div>
                    <div class="form-group">
                        <input id="farbeEdit" class="input-text" type="text" placeholder="Farbe" />

                        <input id="bahngesellschaftEdit" class="input-text" type="text" placeholder="Bahngesellschaft" required/>

                        <input id="loktypEdit" class="input-text" type="text" placeholder="Loktyp" />

                        <input id="loknummerEdit" class="input-text" type="text" placeholder="Loknummer" />

                        <input id="veroeffentlichungEdit" class="input-text" type="text" placeholder="Veröffentlichung" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default cancel-modal-button dismissEdit" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-default submitEdit" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Content Modal -->
<div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition bearbeiten/ Details</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formAddRollmaterial">
                <div class="modal-body">
                    <div class="form-group">
                        <input id="typeAdd" class="input-text" type="text" placeholder="Typ" required/>

                        <input id="imBesitzAdd" class="input-text" type="text" placeholder="Im Besitz" />

                        <input id="kaufpreisAdd" class="input-text" type="text" placeholder="Kaufpreis" />

                        <input id="verkaeuferAdd" class="input-text" type="text" placeholder="Verkäufer" />

                        <input id="schaetzpreisAdd" class="input-text" type="text" placeholder="Schätzpreis" />
                    </div>

                    <div class="form-group">
                        <input id="herstellerAdd" class="input-text" type="text" placeholder="Hersteller" required/>

                        <input id="artnrAdd" class="input-text" type="text" placeholder="ArtNr" />

                        <input id="setnrAdd" class="input-text" type="text" placeholder="SetNr" />

                        <input id="bezeichnungAdd" class="input-text" type="text" placeholder="Bezeichnung" />

                        <input id="bemerkungAdd" class="input-text" type="text" placeholder="Bemerkung" />
                    </div>
                    <div class="form-group">
                        <input id="farbeAdd" class="input-text" type="text" placeholder="Farbe" />

                        <input id="bahngesellschaftAdd" class="input-text" type="text" placeholder="Bahngesellschaft" required/>

                        <input id="loktypAdd" class="input-text" type="text" placeholder="Loktyp" />

                        <input id="loknummerAdd" class="input-text" type="text" placeholder="Loknummer" />

                        <input id="veroeffentlichungAdd" class="input-text" type="text" placeholder="Veröffentlichung" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default cancel-modal-button dismissAdd" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-default submitAdd" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Content Modal -->
<div class="modal fade" id="deleteContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Zugskomposition löschen</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Diesen Datensatz löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-modal-button" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-secondary submit-modal-button deleteItem"  data-dismiss="modal">Ok</button>
            </div>
        </div>  
    </div>
</div>


<script>
    $(document).ready(function () {
        var Id = null;

        $('.submitAdd').click(function () {
            var idAdd = Math.floor(Math.random() * 100)
            var table = document.getElementById("table");
            var row = table.insertRow();
            row.setAttribute('id', idAdd);
            var typeOutput = row.insertCell()
            typeOutput.innerHTML = document.getElementById('typeAdd').value;
            typeOutput.setAttribute('hidden', '')
            typeOutput.setAttribute('id', 'typeOutput ' + idAdd)
            var imBesitzOutput = row.insertCell(1)
            imBesitzOutput.innerHTML = document.getElementById('imBesitzAdd').value;
            imBesitzOutput.setAttribute('id', 'imBesitzOutput ' + idAdd)
            var kaufpreisOutput = row.insertCell()
            kaufpreisOutput.innerHTML = document.getElementById('kaufpreisAdd').value;
            kaufpreisOutput.setAttribute('hidden', '')
            kaufpreisOutput.setAttribute('id', 'kaufpreisOutput ' + idAdd)
            var verkaeuferOutput = row.insertCell()
            verkaeuferOutput.innerHTML = document.getElementById('verkaeuferAdd').value;
            verkaeuferOutput.setAttribute('hidden', '')
            verkaeuferOutput.setAttribute('id', 'verkaeuferOutput ' + idAdd)
            var schaetzpreisOutput = row.insertCell()
            schaetzpreisOutput.innerHTML = document.getElementById('schaetzpreisAdd').value
            schaetzpreisOutput.setAttribute('hidden', '')
            schaetzpreisOutput.setAttribute('id', 'schaetzpreisOutput ' + idAdd)
            var herstellerOutput = row.insertCell(-1)
            herstellerOutput.innerHTML = document.getElementById('herstellerAdd').value
            herstellerOutput.setAttribute('id', 'herstellerOutput ' + idAdd)
            var artNrOutput = row.insertCell()
            artNrOutput.innerHTML = document.getElementById('artnrAdd').value
            artNrOutput.setAttribute('hidden', '')
            artNrOutput.setAttribute('id', 'artNrOutput ' + idAdd)
            var setNrOutput = row.insertCell()
            setNrOutput.innerHTML = document.getElementById('setnrAdd').value
            setNrOutput.setAttribute('hidden', '')
            setNrOutput.setAttribute('id', 'setNrOutput ' + idAdd)
            var bezeichungOutput = row.insertCell(0)
            console.log(document.getElementById('bezeichnungAdd').value)
            bezeichungOutput.innerHTML = document.getElementById('bezeichnungAdd').value
            bezeichungOutput.setAttribute('id', 'bezeichungOutput ' + idAdd)
            var bemerkungOutput = row.insertCell()
            bemerkungOutput.innerHTML = document.getElementById('bemerkungAdd').value
            bemerkungOutput.setAttribute('hidden', '')
            bemerkungOutput.setAttribute('id', 'bemerkungOutput ' + idAdd)
            var farbeOutput = row.insertCell(1)
            farbeOutput.innerHTML = document.getElementById('farbeAdd').value
            farbeOutput.setAttribute('id', 'farbeOutput ' + idAdd)
            var bahngesellschaftOutput = row.insertCell()
            bahngesellschaftOutput.innerHTML = document.getElementById('bahngesellschaftAdd').value
            bahngesellschaftOutput.setAttribute('hidden', '')
            bahngesellschaftOutput.setAttribute('id', 'bahngesellschaftOutput ' + idAdd)
            var loktypOutput = row.insertCell()
            loktypOutput.innerHTML = document.getElementById('loktypAdd').value
            loktypOutput.setAttribute('hidden', '')
            loktypOutput.setAttribute('id', 'loktypOutput ' + idAdd)
            var loknummerOutput = row.insertCell()
            loknummerOutput.innerHTML = document.getElementById('loknummerAdd').value
            loknummerOutput.setAttribute('hidden', '')
            loknummerOutput.setAttribute('id', 'loknummerOutput ' + idAdd)
            var veroeffentlichungOutput = row.insertCell()
            veroeffentlichungOutput.innerHTML = document.getElementById('veroeffentlichungAdd').value
            veroeffentlichungOutput.setAttribute('hidden', '')
            veroeffentlichungOutput.setAttribute('id', 'veroeffentlichungOutput ' + idAdd)
            var icons = row.insertCell()
            var iconEdit = document.createElement('i');
            iconEdit.setAttribute('class', 'fa-regular fa-pen-to-square')
            var iconDelete = document.createElement('i');
            iconDelete.setAttribute('class', 'fa-solid fa-trash-can')
            var buttonEdit = document.createElement("button");
            buttonEdit.setAttribute('class', 'icon-button openModalButton')
            buttonEdit.setAttribute('data-id', idAdd)
            buttonEdit.appendChild(iconEdit);
            var buttonDelete = document.createElement("button");
            buttonDelete.setAttribute('class', 'icon-button openDeleteModalButton')
            buttonDelete.setAttribute('data-id', idAdd)
            buttonDelete.appendChild(iconDelete);
            icons.appendChild(buttonEdit)
            icons.appendChild(buttonDelete)
        });

        $('.openModalButton').click(function () {
            Id = $(this).data('id');
            $('#editModal').modal('show');
            var tr = document.getElementById(Id);
            console.log(document.getElementById('typeEdit'))
            console.log(document.getElementById('typeOutput ' + Id).innerText)
            document.getElementById('typeEdit').setAttribute('value', document.getElementById('typeOutput ' + Id).innerText)
            document.getElementById('imBesitzEdit').setAttribute('value', document.getElementById('imBesitzOutput ' + Id).innerText)
            document.getElementById('kaufpreisEdit').setAttribute('value', document.getElementById('kaufpreisOutput ' + Id).innerText)
            document.getElementById('verkaeuferEdit').setAttribute('value', document.getElementById('verkaeuferOutput ' + Id).innerText)
            document.getElementById('schaetzpreisEdit').setAttribute('value', document.getElementById('schaetzpreisOutput ' + Id).innerText)
            document.getElementById('herstellerEdit').setAttribute('value', document.getElementById('herstellerOutput ' + Id).innerText)
            document.getElementById('artnrEdit').setAttribute('value', document.getElementById('artNrOutput ' + Id).innerText)
            document.getElementById('setnrEdit').setAttribute('value', document.getElementById('setNrOutput ' + Id).innerText)
            document.getElementById('bezeichnungEdit').setAttribute('value', document.getElementById('bezeichungOutput ' + Id).innerText)
            document.getElementById('bemerkungEdit').setAttribute('value', document.getElementById('bemerkungOutput ' + Id).innerText)
            document.getElementById('farbeEdit').setAttribute('value', document.getElementById('farbeOutput ' + Id).innerText)
            document.getElementById('bahngesellschaftEdit').setAttribute('value', document.getElementById('bahngesellschaftOutput ' + Id).innerText)
            document.getElementById('loktypEdit').setAttribute('value', document.getElementById('loktypOutput ' + Id).innerText)
            document.getElementById('loknummerEdit').setAttribute('value', document.getElementById('loknummerOutput ' + Id).innerText)
            document.getElementById('veroeffentlichungEdit').setAttribute('value', document.getElementById('veroeffentlichungOutput ' + Id).innerText)
        });


        $('.submitEdit').click(function () {
            console.log(document.getElementById('typeEdit').value)
            document.getElementById('typeOutput ' + Id).innerHTML = document.getElementById('typeEdit').value
            document.getElementById('imBesitzOutput ' + Id).innerHTML = document.getElementById('imBesitzEdit').value
            document.getElementById('kaufpreisOutput ' + Id).innerHTML = document.getElementById('kaufpreisEdit').value
            document.getElementById('verkaeuferOutput ' + Id).innerHTML = document.getElementById('verkaeuferEdit').value
            document.getElementById('schaetzpreisOutput ' + Id).innerHTML = document.getElementById('schaetzpreisEdit').value
            document.getElementById('herstellerOutput ' + Id).innerHTML = document.getElementById('herstellerEdit').value
            document.getElementById('artNrOutput ' + Id).innerHTML = document.getElementById('artnrEdit').value
            document.getElementById('setNrOutput ' + Id).innerHTML = document.getElementById('setnrEdit').value
            document.getElementById('bezeichungOutput ' + Id).innerHTML = document.getElementById('bezeichnungEdit').value
            document.getElementById('bemerkungOutput ' + Id).innerHTML = document.getElementById('bemerkungEdit').value
            document.getElementById('farbeOutput ' + Id).innerHTML = document.getElementById('farbeEdit').value
            document.getElementById('bahngesellschaftOutput ' + Id).innerHTML = document.getElementById('bahngesellschaftEdit').value
            document.getElementById('loktypOutput ' + Id).innerHTML = document.getElementById('loktypEdit').value
            document.getElementById('loknummerOutput ' + Id).innerHTML = document.getElementById('loknummerEdit').value
            document.getElementById('veroeffentlichungOutput ' + Id).innerHTML = document.getElementById('veroeffentlichungEdit').value
        });

        $('.openAddModalButton').click(function () {
            $('#addContentModal').modal('show');
        });

        $('.openDeleteModalButton').click(function () {
            Id = $(this).data('id');
            $('#deleteContentModal').modal('show');
        });

        $('.deleteItem').click(function () {
            document.getElementById(Id).setAttribute('hidden', "");
        });
    });


</script>
